@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {margin:0; padding:0; font-family:'Montserrat';}

body{background:#535353;}
.Titulo{font-size: 275%;text-align: center; background: #78B483;color: #fff; border: 2px solid #D2CBCB;}
.datos{font-size: 250%;text-align: center; color: #fff; position: relative; }
.datos .centrar {background: #7ebd89; margin-left: 25%;margin-top: 100; margin-right:25%; text-align: left;border: 8px solid #7ebd89;}
input[ type="submit"] {margin: 15px ;width: 30%; background: #618E69; position: relative; border: 2px solid #58805F; color: #fff;}
